assicurazioni-xsd/src/main/java/onyx/xsd/autostrade.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
    
  <xs:complexType name="autostradaDto">
        
    <xs:sequence>
            
      <xs:element minOccurs="0" name="codiceFiscale" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dsAutostrada" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dtFine" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dtInizio" type="xs:string"/>
            
      <xs:element name="idAutostrada" type="xs:int"/>
          
    </xs:sequence>
      
  </xs:complexType>
    
  <xs:complexType name="caselloDto">
        
    <xs:sequence>
            
      <xs:element minOccurs="0" name="autostrada" type="autostradaDto"/>
            
      <xs:element minOccurs="0" name="codiceFiscale" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dsCasello" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dtInserimento" type="xs:string"/>
            
      <xs:element name="idCasello" type="xs:int"/>
            
      <xs:element minOccurs="0" name="km" type="xs:float"/>
            
      <xs:element minOccurs="0" name="note" type="xs:string"/>
            
      <xs:element minOccurs="0" name="statoCasello" type="statoCaselloDto"/>
            
      <xs:element minOccurs="0" name="tipoCasello" type="tipoCaselloDto"/>
          
    </xs:sequence>
      
  </xs:complexType>
    
  <xs:complexType name="statoCaselloDto">
        
    <xs:sequence>
            
      <xs:element minOccurs="0" name="codiceFiscale" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dsStatoCasello" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dtFine" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dtInizio" type="xs:string"/>
            
      <xs:element name="idStatoCasello" type="xs:int"/>
          
    </xs:sequence>
      
  </xs:complexType>
    
  <xs:complexType name="tipoCaselloDto">
        
    <xs:sequence>
            
      <xs:element minOccurs="0" name="codiceFiscale" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dsTipoCasello" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dtFine" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dtInizio" type="xs:string"/>
            
      <xs:element name="idTipoCasello" type="xs:int"/>
          
    </xs:sequence>
      
  </xs:complexType>
    
  <xs:complexType name="tipoTransitoDto">
        
    <xs:sequence>
            
      <xs:element minOccurs="0" name="dsTipoTransito" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dtFine" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dtInizio" type="xs:string"/>
            
      <xs:element minOccurs="0" name="id" type="xs:int"/>
            
      <xs:element minOccurs="0" name="utenteC" type="xs:string"/>
          
    </xs:sequence>
      
  </xs:complexType>
    
  <xs:complexType name="transitoDto">
        
    <xs:sequence>
            
      <xs:element minOccurs="0" name="dsTarga" type="xs:string"/>
            
      <xs:element minOccurs="0" name="dtTransito" type="xs:string"/>
            
      <xs:element name="id" type="xs:int"/>
            
      <xs:element name="idCase" type="xs:int"/>
            
      <xs:element minOccurs="0" name="tipoTransito" type="tipoTransitoDto"/>
            
      <xs:element minOccurs="0" name="utenteC" type="xs:string"/>
          
    </xs:sequence>
      
  </xs:complexType>
  
</xs:schema>
